body {
  background: #2d343d;
}

.login {
  margin: 20px auto;
  width: 300px;
  padding: 30px 8px;
  background: white;
  border: 1px solid #c4c4c4;
}

h1.login-title {
  margin: -31px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #ADADAD;
  text-align: center;
  background: #f7f7f7;

}

.login-input {
  width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-input:focus {
  border-color: #6e8095;
  outline: none;
}

.login-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
}

.login-lost {
  text-align: center;
  margin-bottom: 0px;
}

.login-lost a {
  color: #666;
  text-decoration: none;
  font-size: 13px;
}

.form {
  text-align: center;
  color: white;
}

.form a {
  text-decoration: none;
  color: red;
}

.form a:hover {
  font-size: 20px;
  color: aqua;
}

.nav-link.waves-effect.waves-light:hover {
  border: none;
}

.nav-link.waves-effect.waves-light.active {
  border-left: 2px solid white;
  background: none;
  border-right: 2px solid white;
  border-bottom: none;
  border-top: none;
  border-radius: 0px;
  color: #f9f9f9;
  font-weight: 900;
}

#myTabMD {
  border: none;
}

.card {
  background: none;
}

.tab-pane.fade.show.active {
  background: white;
  margin: 0em 0em 2.5em;
}

.tab-pane.fade.show.active.show {
  padding: 1em;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

#dtMaterialDesignExample_filter>label {
  display: none;
}